﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Annuaire</h1>
    <a class="btn btn-primary" asp-action="Search" asp-controller="Employee">Liste des employés</a>
</div>