@model annuaire.Models.Auth.Login
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="fr">
<head>
    <title>login</title>
</head>
<body>
<div>
    <form method="POST">
        <span asp-validation-for="Email"></span>
        <input class="input-group-text" asp-for="Email" placeholder="Email"/>
        <input class="input-group-text" asp-for="Password" type="password" placeholder="Password"/>
        <br/>
        <input class="btn btn-primary" type="submit" name="btnSubmit" value="Login"/>
    </form>

</div>
</body>
</html>