@model annuaire.Models.Service
@{
    ViewBag.Title = "Créer un service";
    Layout = "_Layout";
}

@section scripts{
    <partial name="_ValidationScriptsPartial"/>
}

<h2>Créer un service</h2>
<form method="POST" asp-action="Create" asp-controller="Service">
    <label asp-for="Name">Nom du service</label>
    <input class="form-control" asp-for="Name"/>
    <span asp-validation-for="Name"></span>
    <br/>
    <input class="btn btn-success" type="submit" value="Créer"/>
</form>