@model List<annuaire.Models.Service>

@{
    ViewBag.Title = "Services";
    Layout = "_Layout";
}

<h2>Liste des services</h2>
@if (Model.Count > 0)
{
    @if (User.Identity!.IsAuthenticated)
    {
        <a href="@Url.Action("Create", "Service")" class="btn btn-success">Créer un service</a>
    }
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
            @if (User.Identity!.IsAuthenticated && User.IsInRole("admin"))
            {
                <th>Admins</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.Name</td>
                <td>
                    <a href="/Employee/Search?Service=@service.Id" class="btn btn-primary">Voir les employés</a>
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a href="@Url.Action("Update", "Service", new { id = service.Id })" class="btn btn-primary">Edit</a>
                        @using (Html.BeginForm("Delete", "Service", new { id = service.Id }, FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-danger">Delete</button>
                        }
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No employees found.</p>
}

<nav aria-label="...">
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.NumberPage; i++)
        {
            int page;
            @if (Context.Request.Query["page"].ToString() == "")
            {
                page = 1;
            }
            else
            {
                page = int.Parse(Context.Request.Query["page"].ToString());
            }
            <li class="page-item @(page == i ? "active" : "")">
                <a class="page-link" href="/Service/Index?page=@i">@i</a>
            </li>
        }
    </ul>
</nav>