@model annuaire.Models.Service
@{
    ViewBag.Title = "Mettre à jour";
    Layout = "_Layout";
}

<h2>@Model.Name</h2>

@if (User.Identity!.IsAuthenticated)
{
    <form method="POST" asp-action="Update" asp-controller="Service">
        <input type="hidden" name="Id" value="@Model.Id"/>
        <label>Nom du service</label>
        <input asp-for="Name" class="form-control" type="text" name="Name" value="@Model.Name"/>
        <span asp-validation-for="Name"></span>
        <input class="btn btn-success" type="submit" value="Mettre à jour"/>
    </form>
}
else
{
    <div class="d-flex">
        <label>Nom du service</label>
        <p class="form-control" type="text" name="Name" value="@Model.Name"/>
    </div>
}