@model annuaire.Models.Employee
@{
    ViewBag.Title = "Créer un service";
    Layout = "_Layout";
}

@section scripts{
    <partial name="_ValidationScriptsPartial"/>
}

<h2>Créer un employé</h2>
<form method="POST" asp-action="Create" asp-controller="Employee">
    <label>Prénom</label>
    <input asp-for="FirstName"/>
    <span asp-validation-for="FirstName"></span>
    <br/>
    <label>Nom</label>
    <input asp-for="LastName"/>
    <span asp-validation-for="LastName"></span>
    <br/>
    <label>Email</label>
    <input asp-for="Email"/>
    <span asp-validation-for="Email"></span>
    <br/>
    <label>Téléphone portable</label>
    <input asp-for="MobilePhone"/>
    <span asp-validation-for="MobilePhone"></span>
    <br/>
    <label>Téléphone fixe</label>
    <input asp-for="FixedPhone"/>
    <span asp-validation-for="FixedPhone"></span>
    <br/>
    <label>Administrateur</label>
    <input asp-for="IsAdmin"/>
    <br/>
    <div class="input-group mb-3">
        <select class="form-select" aria-label="Default select example" name="Service">
            <option value="">Choisir un service</option>
            @foreach (Service service in ViewBag.Services)
            {
                <option value="@service.Id" selected="@(Context.Request.Query["Service"] == service.Id.ToString())">@service.Name</option>
            }
        </select>
        <span asp-validation-for="Service"></span>
        <select class="form-select" aria-label="Default select example" name="Site">
            <option value="">Choisir un site</option>
            @foreach (Site site in ViewBag.Sites)
            {
                <option value="@site.Id" selected="@(Context.Request.Query["Site"] == site.Id.ToString())">@site.City</option>
            }
        </select>
        <span asp-validation-for="Site"></span>
    </div>
    <input class="btn btn-success" type="submit" value="Créer l'employé"/>
</form>