@model List<annuaire.Models.Employee>?

@{
    ViewBag.Title = "Employés";
    Layout = "_Layout";
}
@if (User.Identity!.IsAuthenticated)
{
    <a href="@Url.Action("Create", "Employee")" class="btn btn-success">Créer un employé</a>
}

@using (Html.BeginForm("Search", "Employee", FormMethod.Get))
{
    <div class="d-flex">
        <input class="input-group-text" type="text" name="FirstName" placeholder="Prénom" value="@(Context.Request.Query["FirstName"])"/>
        <input class="input-group-text" type="text" name="LastName" placeholder="Nom" value="@(Context.Request.Query["LastName"])"/>
        <input class="input-group-text" type="text" name="Email" placeholder="Email" value="@(Context.Request.Query["Email"])"/>
    </div>
    <br/>
    <div class="d-flex">
        <input class="input-group-text" type="text" name="MobilePhone" placeholder="Téléphone Portable" value="@(Context.Request.Query["MobilePhone"])"/>
        <input class="input-group-text" type="text" name="FixedPhone" placeholder="Téléphone Fixe" value="@(Context.Request.Query["FixedPhone"])"/>
    </div>
    <br/>
    <div class="input-group mb-3">
        <select class="form-select" aria-label="Default select example" name="Service">
            <option value="">Choisir un service</option>
            @foreach (Service service in ViewBag.Services)
            {
                <option value="@service.Id" selected="@(Context.Request.Query["Service"] == service.Id.ToString())">@service.Name</option>
            }
        </select>
        <select class="form-select" aria-label="Default select example" name="Site">
            <option value="">Choisir un site</option>
            @foreach (Site site in ViewBag.Sites)
            {
                <option value="@site.Id" selected="@(Context.Request.Query["Site"] == site.Id.ToString())">@site.City : @site.Description</option>
            }
        </select>
    </div>
    <div class="d-flex">
        <button class="btn-success btn" type="submit">Submit</button>
    </div>
}

@if (Model?.Count > 0)
{
    <h2>Résultat</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone portable</th>
            <th scope="col">Téléphone fixe</th>
            <th scope="col">Service</th>
            <th scope="col">Site</th>
            @if (User.Identity!.IsAuthenticated)
            {
                <th>Actions</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Email</td>
                <td>@employee.MobilePhone</td>
                <td>@employee.FixedPhone</td>
                <td>@employee.Service.Name</td>
                <td>@employee.Site.City : @employee.Site.Description</td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a href="@Url.Action("Update", "Employee", new { id = employee.Id })" class="btn btn-primary">Edit</a>

                        @if (User.Claims.First().Value == employee.Id.ToString())
                        {
                            @using (Html.BeginForm("Delete", "Employee", new { id = employee.Id }, FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-danger disabled">Delete</button>
                            }
                        }
                        else
                        {
                            @using (Html.BeginForm("Delete", "Employee", new { id = employee.Id }, FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-danger">Delete</button>
                            }
                        }

                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            @for (var i = (Math.Max(1, ViewBag.Page - 2)); i <= (Math.Min(ViewBag.Page + 2, ViewBag.NumberPage)); i++)
            {
                int page;
                @if (Context.Request.Query["page"].ToString() == "")
                {
                    page = 1;
                }
                else
                {
                    page = int.Parse(Context.Request.Query["page"].ToString());
                }
                Dictionary<string, string> Dico = new Dictionary<string, string>();
                var href = "/Employee/Search?page=" + i + "&";
                foreach (var item in Context.Request.Query)
                {
                    if (item.Key != "page")
                    {
                        Dico.Add(item.Key, item.Value);

                        href += item.Key + "=" + Uri.EscapeDataString(item.Value) + "&";
                    }
                }
                <li class="page-item @(page == i ? "active" : "")">
                    <a class="page-link" href=@(href)>@i</a>
                </li>
            }
        </ul>
    </nav>
}
else
{
    <p>Aucun résultat</p>
}