@using System.CodeDom
@model annuaire.Models.Employee
@{
    ViewBag.Title = "Mettre à jour";
    Layout = "_Layout";
}

<h2>@Model.FirstName @Model.LastName</h2>

@if (User.Identity!.IsAuthenticated)
{
    <form method="POST" asp-action="Update" asp-controller="Employee">
        <input type="hidden" name="Id" value="@Model.Id"/>
        <label>Prénom</label>
        <input class="form-control" type="text" asp-for="FirstName" name="FirstName" value="@Model.FirstName"/>
        <span asp-validation-for="FirstName"></span>
        <br/>
        <label>Nom</label>
        <input class="form-control" type="text" name="LastName" value="@Model.LastName"/>
        <span asp-validation-for="LastName"></span>
        <br/>
        <label>Email</label>
        <input asp-for="Email" class="form-control" type="email" value="@Model.Email"/>
        <span asp-validation-for="Email"></span>
        <br/>
        <label>Téléphone portable</label>
        <input asp-for="MobilePhone" value="@Model.MobilePhone"/>
        <span asp-validation-for="MobilePhone"></span>
        <br/>
        <label>Téléphone fixe</label>
        <input asp-for="FixedPhone" value="@Model.FixedPhone"/>
        <span asp-validation-for="FixedPhone"></span>
        <br/>
        <label>Administrateur</label>
        <input class="form-check-input" type="checkbox" name="Administrateur" value="@Model.IsAdmin"/>
        <span asp-validation-for="IsAdmin"></span>
        <br/>
        <label>Mot de Passe</label>
        <input class="form-control" type="password" name="Password"/>
        <br/>
        <div class="input-group mb-3">
            <select class="form-select" aria-label="Default select example" name="Service">
                <option value="">Choisir un service</option>
                @foreach (Service service in ViewBag.Services)
                {
                    <option value="@service.Id" selected="@(Model.Service.Id == service.Id)">@service.Name</option>
                }
            </select>
            <span asp-validation-for="Service"></span>
            <select class="form-select" aria-label="Default select example" name="Site">
                <option value="">Choisir un site</option>
                @foreach (Site site in ViewBag.Sites)
                {
                    <option value="@site.Id" selected="@(Model.Site.Id == site.Id)">@site.City</option>
                }
            </select>
            <span asp-validation-for="Site"></span>
        </div>
        <br/>
        <input type="submit" value="Mettre à jour"/>
    </form>
}