@model annuaire.Models.Site

@{
    ViewBag.Title = "Créer un site";
    Layout = "_Layout";
}

<h2>Créer un site</h2>
<form method="POST" asp-action="Create" asp-controller="Site">
    <label>Ville</label>
    <input asp-for="City"/>
    <span asp-validation-for="City"></span>
    <br/>
    <label>Description</label>
    <input asp-for="Description"/>
    <span asp-validation-for="Description"></span>
    <br/>
    <input class="btn btn-success" type="submit" value="Créer à jour"/>
</form>