@model annuaire.Models.Site
@{
    ViewBag.Title = "Mettre à jour";
    Layout = "_Layout";
}

<h2>@Model.City : @Model.Description</h2>

@if (User.Identity!.IsAuthenticated)
{
    <form method="POST" asp-action="Update" asp-controller="Site">
        <input type="hidden" name="Id" value="@Model.Id"/>
        <label>Ville</label>
        <input asp-for="City" class="form-control" type="text" name="City" value="@Model.City"/>
        <span asp-validation-for="City"></span>
        <br/>
        <label>Description</label>
        <input asp-for="Description" class="form-control" type="text" name="Description" value="@Model.Description"/>
        <span asp-validation-for="Description"></span>
        <br/>
        <input class="btn btn-success" type="submit" value="Mettre à jour"/>
    </form>
}
else
{
    <div class="d-flex">
        <label>Ville</label>
        <input class="form-control" type="text" name="City" value="@Model.City"/>
        <br/>
        <label>Description</label>
        <input class="form-control" type="text" name="Description" value="@Model.Description"/>
        <br/>
    </div>
}